@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Andada+Pro&family=Playball&family=Press+Start+2P&family=VT323&family=Zen+Kaku+Gothic+Antique:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Amatic+SC&family=Andada+Pro&family=Playball&family=Press+Start+2P&family=VT323&family=Zen+Kaku+Gothic+Antique:wght@300&display=swap');

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: rgba(204, 194, 200, 1);
	font-size: 30px;
	color: rgba(29, 29, 29, 1);
}

.container {
	max-width: 500px;
	margin: 0 auto;
}

header,
section,
div {
	margin: 20px 0;
}

.centerme {
	text-align: center;
}

input[type='text'] {
	background-color: rgba(219, 228, 225, 0.97);
	padding: 8px 10px;
	margin: 8px 0;
	font-size: 1.1em;
	border: 2px solid rgba(167, 51, 51, 1);
	border-radius: 12px;
	transition: all 500ms ease-in-out;
	cursor: pointer;
}

input[type='text']:focus {
	background-color: rgba(112, 138, 129, 0.97);
	color: rgba(232, 232, 232, 1);
	border: 2px solid rgba(53, 49, 49, 0.7);
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

input[type='button'] {
	font-size: 1.3em;
	background-color: rgba(219, 228, 225, 0.97);

	transition: all 500ms ease-in-out;
	cursor: pointer;
}

input[type='button']:focus {
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.7);
	text-align: center;
}

#story {
	font-size: 1.4em;
	margin: 0 auto;
	padding: 10px;
	font-family: 'Abhaya Libre', serif;
}

.button {
	background-color: #4caf50; /* Green */
	border: none;
	color: white;
	text-decoration: none;
	font-size: 16px;
}

.title {
	font-family: 'Playball', cursive;
	text-align: center;
}

.question {
	color: rgb(73, 5, 64);
}
