body {
	font-family: 'Rye', cursive;
	background-color: lightpink;
}

h1 {
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 3em;
	text-align: center;
}

.dressSlug {
	position: relative;
}

.head {
	z-index: 3;
}

.accessories {
	z-index: 5;
}
.body {
	z-index: 1;
}

.socks {
	z-index: 2;
}
.hands {
	z-index: 5;
}
.labelCh {
	font-size: 30px;
	margin-top: 20px;
}
