@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Andada+Pro&family=Press+Start+2P&family=VT323&family=Zen+Kaku+Gothic+Antique:wght@300&display=swap');
html,
body {
	background-color: rgb(0, 12, 17);
	background-image: url('eyeknow.gif');
	font-family: 'Press Start 2P';
}
.jumper {
	width: 15%;
	position: absolute;
	left: 30%;
	top: 30%;
}

.ground {
	width: 100%;
	background-color: rgb(0, 0, 0);
	height: 300px;
	position: absolute;
	left: 0%;
	top: 50%;
	z-index: 1;
}

.scoreboard {
	color: rgb(228, 247, 196);
	font-weight: 300;
	text-transform: lowercase;
	font-size: 10px;
	position: absolute;
	right: 10px;
	margin-top: 20px;
	margin-right: 30px;
}

.title {
	color: rgb(50, 0, 70);
	font-size: 20px;
	position: center;
}
