


@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&family=VT323&family=Zen+Kaku+Gothic+Antique:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Andada+Pro&family=VT323&family=Zen+Kaku+Gothic+Antique:wght@300&display=swap');



:root {
    --main-radius: 5px;
    --main-padding: 5px;
    background-color: black;
  }
  
  body {
    font-family: "Inter", sans-serif;
  }

  h2, h1 {
    color:rgb(122, 42, 76);
  }
  
  .container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.6fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas:
      "nav nav nav nav"
      "main main main main"
      "content content content content";
      
    grid-gap: 0.2rem;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    color: #004d40;
    text-align: center;
  }

  .box {
    background-color: rgb(224, 206, 247);
    border: 5px solid rebeccapurple;
    margin: auto;

}
.box[style] {
    background-color: aliceblue;
    border: 10px solid steelblue;
}

  
  nav {

 background-image: url(/Users/gremlinnonsense/Desktop/DevAcadamyBlog/HannahBeattie.github.io/styles/spacetest.jpeg);*/;
  text-align: center;
  font-size: 30px;
  color: white;
  font-family: 'VT323', monospace;
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    padding-bottom: (main-padding);
  }
  
  
  main {

    background: #84ffff;
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    font-size: 15px;

  }

  content {
    background: #84ffff11;
    grid-area: content;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }


#button1, #button2, #button3

{ 
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
    line-height: 1;
    position: relative;
    padding: 10px;
    background: #1abebf;
    background-image: radial-gradient = s(122deg,rgb(126, 249, 43),#1abebe);
    background-size: 300px,300px,100%;
    color: #fff;
    border-bottom: 5px solid #ffc600;
    box-shadow: 0 0 3px 3px rgb(0 0 0 / 5%);
    text-shadow: 0 0 3px rgb(0 0 0 / 30%);
    transition: all .3s;
    :hover{
    box-shadow: 0 0 3px 3px rgb(0 0 0 / 8%); }

  .photos {
    width: 400px;
    height: 400px;
    border-radius: 300px;
    padding: 5px 5px 5px 5px;
    display: inline-table;
    justify-content: center;



  a {
    text-align: center;
    display: block;
    font-family: inherit;
    text-decoration: none;
    font-weight: bold;
    margin: 1rem;
  }
}
  
  @media only screen and (max-width: 550px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
      grid-template-areas:
        "nav"
        "sidebar"
        "main"
        "content"
        "footer";
    }