@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&family=VT323&family=Zen+Kaku+Gothic+Antique:wght@300&display=swap');

body {
    max-width:100%;
    background-color: black;
    height: auto;
}


.button {  
    border-bottom: 5px solid #e98ddd71;
    margin: 5px;
    display: inline-block;
    font-size: 30px;
    text-decoration: none;
    line-height: 1;
    padding: 10px;
    background: #062227;
    background-size: 300px,300px,100%;
    color: #e98ddd71;
    text-shadow: 1px 1px #701944;  
    font-family: 'VT323', monospace;
    opacity: 60%;
} 



h1 {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 6%;
    padding-bottom: 3%;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
    margin-left: 20%;
    margin-right: 20%;
}

h2 {
    text-align: center; 
    color: rgb(221, 221, 221);
    font-size: 20px;
    padding-bottom: 5%;
    margin-left:10%;
    margin-right:10%;
    opacity: 60%;
}



p { 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: white;
    line-height: 250%;
    font-family: Amatic SC;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: none;
}
.caption {
    font-size: 20px;
    font-style: italic;  
    color: red;
    line-height: 200%;
}

#red {
    color: red;
}

h3 {
    color: pink;
    font-size: 25px;
    border: 1px solid;
    line-height: 150%;
    margin-left: 10%;
    margin-right: 10%;
    box-sizing: content-box;
    padding: 3%;
    
}

.responsive {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 80%;
    height: auto;
  }

.responsiveDiagram {
    height: auto;
    width: 40%;
    padding: none;

  }

  a.home { 
    margin-top: -45px;
    margin-right: 15px;
    font-weight: 300;
    background-color: black;
    border: none;
    float: right;
}
